doctype html
html
  head
    title LandMark: Global Platform of Indigenous and Community Lands
    meta(name='author', content='BlueRaster, WRI')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=7, IE=9, IE=10')
    link(rel='shortcut icon', type='image/png', href='css/images/favicon.png')
    style.
      html,body{height:100%;width:100%;padding:0;margin:0;}	
    link(rel='stylesheet', href='css/base.css?#{appVersion}')
    link(rel='stylesheet', href='css/analysis.css?#{appVersion}')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Raleway:400,600,700')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    script(src='https://code.highcharts.com/highcharts-3d.js')
    <!--[if lt IE 9]>
    script(src='libs/es5-shim.min.js')
    script(src='libs/html5shiv.js')
    <![endif]-->
  body.tundra.crl
    div.analysis-report
      div.header-container
        h1.analysis-title Analysis Results 
        h4#analysis-title.analysis-title
      div#analysis-export.analysis-export  Export Data
      div.charts-container
        div.chart-container.documentation-containter
          div#documentation-pie
        //- div#analysis-chart.analysis-chart
        div.chart-container.identity-container
          div#identity-pie
        div.chart-container.recognition-container
          div#recognition-pie
      div.analysis-table-container
        div#analysis-table
        
    //- script(async, src='js/map/AnalysisController.js?#{appVersion}')
    script(async, src='js/analysisBootstrap.js?#{appVersion}')
    script(async, src='libs/FileSaver.js')
      
    
